%footer#footer
  .container
    %hr.soften

    %p
      Copyright © Pomdev tous droits réservés.
      Créé par #{link_to 'Pierrick Rouxel', 'about'}.
      Propulsé par
      %a{href: "http://middlemanapp.com/"} Middleman
      et
      %a{href: "http://twitter.github.io/bootstrap/"} Bootstrap.
      Hebergé par
      %a{href: "http://pages.github.com/"} Github Pages.