%header#header
  .header-wrapper
    #parralax-illustration
      = image_tag 'leaf1.png', id: 'leaf1', data: {xrange:"100", yrange:"30"}
      = image_tag 'leaf2.png', id: 'leaf2', data: {xrange:"60", yrange:"60"}
      = image_tag 'leaf3.png', id: 'leaf3', data: {xrange:"30", yrange:"20"}
    = image_tag 'pomdev-logo-retina.png', id: 'logo'