---
title: A propos
---

.row
  %img.span2.img-polaroid{src: "http://www.gravatar.com/avatar/5f3ae95679123e976c7fecdd26baf8c6?s=200"}
  %p.span6{style: "text-align: justify"}
    Passionné par la technologie en général je suis perfectionniste dans l'âme. Je souhaite partager mon experience
    c'est pourquoi j'ai ouvert ce blog. <br>
    Je suis développeur Ruby on Rails dans le monde professionnel. Je pratique également l'Objective-C à titre
    personnel.